<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wine About It</title>

  </head>
  <body>
    <header>
        <h1>Wine About It</h1>
        <h2>A place for people who love WINE and sharing (w)IN(e)FORMATION</h2>
        <nav>
          <ul>
              <li>
                    <a href="/wines">Wine List</a>
              </li>
              <li>
                    <a href="/posts">User Posts</a>
              </li>
              <li>
                    <a href="/posts/new">Create A New Post</a>
              </li>
          </ul>
        </nav>
    </header>
  </body>
</html>
