* {
  font-family:  'Open Sans Condensed', sans-serif;

}

body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDy421KbMqBDSbIUgXjyX2CvJnxI5qwMztpq8ZHl4b3PT7Psr_5A');
  /*background-image: url('http://www.lodiwine.com/assets/images/contentblock/photos/IMG_4451.jpg');*/
  background-repeat: repeat;
  background-size: cover;
}

.jumbotron {
  background-color: black;
  opacity: .6;
  color: white;
  /*font-size: 30px;*/
  /*width: 90%;*/
  /*height: 30%;*/
  justify-content: center;
  /*margin: 0 auto;*/
  text-align: center;
  margin-top: 20%;
}

.container {
  text-align: center;
}

li {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 30px;
  display: inline-block;
}

.link:visited {
  color: white;
}

.link:hover {
  color: white;
}

.logout, .logout:hover, .logout:visited {
  color: white;
  text-decoration: none;
  font-size: 30px;
  float: right;
  padding: .5em;
}

footer {
  color: white;
  font-size: 20px;
  text-align: center;
  opacity: .75;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
