* {
  font-family:  'Open Sans Condensed', sans-serif;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: lightgrey;
  /*background-image: url('http://media.istockphoto.com/photos/red-wine-bottle-wine-glass-bowl-with-corks-and-corkscrew-picture-id478655150?k=6&m=478655150&s=612x612&w=0&h=ALrmRN4CEX-i-u7Ft13iYkXG7JvHJka5TROVQl_XIL8=');
  background-position: center;
  background-repeat: no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  height: 100%;
  padding-top: 30px;
}

.img-responsive  {
display: inline-block;
align-content: stretch;
width: 100%;
max-height: 40%:
margin: 0 auto;
top: 0;
}


h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

img.userImg {
width: 400px;
height: 400px;
}

.logout, .logout:hover, .logout:visited {
  color: white;
  text-decoration: none;
  font-size: 30px;
  float: right;
  padding: .5em;
}


.navbar-inverse {
  text-decoration: none;
  list-style: none;
  padding: .5em;
  text-align: center;
  margin-right: 1em;
  color: white;
  justify-content: space-evenly;

}

.navbar-inverse:hover, .navbar-inverse:visited {
  color: lightgrey;
}

.page-header {
  text-align: center;
}

.btn .btn-default {
  text-align: center;
  justify-content: center;
}

.new {
  justify-content: center;
  display: block;
  padding: 3em;
  margin: 0 auto;
}

form {
  /*display: table;*/
  width: 40%;
  position: inherit;
  margin: 0 auto;
  padding-bottom: 10%;
  padding-top: 2%;
}


.centerList {
  text-align: center;
  font-weight: bold;
}



#test {
  height: 100%;
  width: max-content;
}

#thisWine {
  padding-top: 0px;
  padding-bottom: 0px;
}
.seedImg {
  height: 20vh;
  justify-content: center;
  margin: 0 auto;
}

.jumbotron .jseed {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

}

.container .seed {
  height: 20vh;
  width: 40vh;
  justify-content: space-between;

}

.seedData {
  width: 60vh;
  text-align: center;
  margin: 0 auto;
  padding: .5% 20px;
}

.winePosts {
align-items: center;
padding-left: .5em;
display: inline-flex;
}

#allPosts {
padding-left: .5em;
align-content: center;
justify-content: center;
}


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;

}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  color: darkslategrey;
  text-align: center;
  bottom: 0;
  margin: 0 auto;
  position: sticky;
}
