<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    
  </head>
  <body>
    <header>
      <a class="logout" href="/sessions/logout">Logout</a>
        <h1>Wine About It Posts</h1>
        <nav>
          <ul>
              <li>
                  <a href="/">Home</a>
              </li>
              <li>
                  <a href="/posts/new">Create A Post</a>
              </li>
              <li>
                  <a href="/wines">Back to Wine List</a>
              </li>
          </ul>
        </nav>
    </header>
    <main>
        <h2>All Posts</h2>
        <ul>
          <% for(let i = 0; i < posts.length; i++){ %>
        <li>
          <a href="/posts/<%=posts[i]._id%>"><img src="<%=posts[i].image%>"/></a>
        </li>
        <li>
          <a href="/posts/<%=posts[i]._id%>"><%=posts[i].about%></a>
        </li>
      <% } %>
        </ul>
    </main>
      <% include ../partials/footer.ejs %>
  </body>
</html>
