<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <nav class="page-header">
        <h1>Wine About It <br><small>Here</small></h1>
      </nav>
      <nav class="navbar navbar-inverse">
        <a href="/" class="btn btn-default" role="button">Home</a>
        <a href="/posts" class="btn btn-default" role="button">All Posts</a>
        <a href="/wines" class="btn btn-default" role="button">Wine List</a>
        <a href="/posts/new" class="btn btn-default" role="button">Create Post</a>
        <a href="/sessions/logout" class="btn btn-default">Logout</a>
      </nav>
    </header>
    <main>
      <div class="new">
        <form action="/posts" method="POST">
        <select name="wineId" class="select">
          <% for(let i = 0; i < wines.length; i++) { %>
                        <option value="<%=wines[i]._id%>">
                          <%=wines[i].name%>
                        </option>
                    <% } %>
        </select><br>
        Username: <br><input type="text" name="name" ><br>
        Image URL: <br><input type="url" name="image" /><br>
        What did you think?: <br><textarea  name="about"></textarea><br>
        <input type="submit" value="Post">
      </form>
    </div>
    </main>
      <% include ../partials/footer.ejs %>
  </body>
</html>
