<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <a class="logout" href="/sessions/logout">Logout</a>
        <h1>New Post: Wine About It</h1>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/posts">All Posts</a>
            </li>
            <li>
                <a href="/wines">Back to Wine List</a>
            </li>
          </ul>
        </nav>
    </header>
    <main>
      <form action="/posts" method="POST">
        <select name="wineId">
          <% for(let i = 0; i < wines.length; i++) { %>
                        <option value="<%=wines[i]._id%>">
                          <%=wines[i].name%>
                        </option>
                    <% } %>
        </select><br>
        <input type="text" name="name" value="Username" /><br>
        <input type="url" name="image" value="url" /><br>
        <textarea name="about">About/Comments about this Wine</textarea><br>
        <input type="submit" value="Post">
      </form>
    </main>
      <% include ../partials/footer.ejs %>
  </body>
</html>
