
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  
  </head>
  <body>
    <header>
      <a class="logout" href="/sessions/logout">Logout</a>
        <h1>Wine about It</h1>

        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/posts/new">Create New Post</a>
                </li>
                <li>
                    <a href="/posts">See all Wino Posts</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
      <h2>Wine List</h2>
      <ul>
        <% for(let i = 0; i < wines.length; i++){ %>
					<li>
						<a href="/wines/<%=wines[i]._id%>"><%=wines[i].name%></a>
					</li>
				<% } %>
      </ul>
    </main>
      <% include ../partials/footer.ejs %>
  </body>
</html>
